.root {
  color: #fff;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 500;
}
